{% extends 'PaginaWebBlog/base.html' %}

{% block content %}
  <h2>Buscar Jugador</h2>
  <form method="get" action="{% url 'buscar_jugador' %}">
    <input type="text" name="q" placeholder="Nombre del jugador" value="{{ query }}">
    <button type="submit">Buscar</button>
  </form>

  {% if resultados %}
    <h3>Resultados:</h3>
    <ul>
      {% for jugador in resultados %}
        <li>{{ jugador.nombre }} - {{ jugador.equipo.nombre }}</li>
      {% endfor %}
    </ul>
  {% elif query %}
    <p>No se encontraron jugadores con ese nombre.</p>
  {% endif %}
{% endblock %}
