<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido</title>
</head>
<body>
    <h1>Bienvenido a la página de inicio</h1>
    <p>Desde aquí se puede agregar jugadores, equipos y estadísticas.</p>

    <ul>
        <li><a href="{% url 'agregar_equipo' %}">Agregar equipo</a></li>
        <li><a href="{% url 'agregar_jugador' %}">Agregar jugador</a></li>
        <li><a href="{% url 'agregar_estadisticas' %}">Agregar estadísticas</a></li>
        <li><a href="{% url 'buscar_jugador' %}">Buscar jugador</a></li>
    </ul>
</body>
</html>
